.dir-list{
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--wrap-width) + 1rem), 1fr));

    > .col {
        display: flex;
        justify-content: center;
    }
}

.dir-list-link{
    display: block;
    width: fit-content;
}