.dir-list{
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--wrap-width) + 1rem), 1fr));

    > .col {
        display: flex;
        justify-content: center;
    }
}

.dir-list-link{
    display: block;
    width: fit-content;
}

.dir-list-item{
    width: var(--wrap-width);
    
    > svg {
        margin-top: calc(var(--wrap-height) / 3);
        width: calc(var(--wrap-height) / 3 * 2);
        height: calc(var(--wrap-height) / 3 * 2);
    }
}

#found{
    padding-left: 2rem;
    padding-right: 2rem;
}