.zoom-xs{
    .dir-list-item {
        width: 120px;

        > svg {
            margin-top: 30px;
            width: 70px;
            height: 70px;
        }

        > .wrap {
            width: 120px;
            height: 100px;
        }
    }
}

.zoom-small{
    .dir-list-item {
        width: 140px;

        > svg {
            margin-top: 40px;
            width: 80px;
            height: 80px;
        }

        > .wrap {
            width: 140px;
            height: 120px;
        }
    }
}

.zoom-medium{
    .dir-list-item {
        width: 160px;

        > svg {
            margin-top: 20px;
            width: 100px;
            height: 100px;
        }

        > .wrap {
            width: 160px;
            height: 120px;
        }
    }
}

.zoom-large{
    .dir-list-item {
        width: 180px;

        > svg {
            margin-top: 30px;
            width: 100px;
            height: 100px;
        }

        > .wrap {
            width: 180px;
            height: 130px;
        }
    }
}

.zoom-xl{
    .dir-list-item {
        width: 230px;

        > svg {
            margin-top: 50px;
            width: 130px;
            height: 130px;
        }

        > .wrap {
            width: 230px;
            height: 180px;
        }
    }
}