.zoom-xs{
    --wrap-width: 140px;
    --wrap-height: 120px;

    .dir-list-item > .wrap > .duration{
        margin-right: calc((var(--wrap-width) - var(--preview-width)) / 2 + 2px);
        font-size: 0.8rem;
        margin-bottom: 2px;
        border-radius: 0.25rem !important;
    }

    .dir-list-item>figcaption {
        font-size: 0.8rem;
    }
}

.zoom-small{
    --wrap-width: 160px;
    --wrap-height: 140px;
    .dir-list-item>figcaption {
        font-size: 0.9rem;
    }
}

.zoom-medium{
    --wrap-width: 180px;
    --wrap-height: 160px;
}

.zoom-large{
    --wrap-width: 200px;
    --wrap-height: 180px;
}

.zoom-xl{
    --wrap-width: 240px;
    --wrap-height: 200px;
}