@use 'variables';
@use 'dir';
@use 'zoom';
@use 'video';
@use 'preview';
@use 'navbar';
@use 'button-up';

html {
    scroll-behavior: auto !important;
}

body {
    background-color: variables.$background-color;
    font-family: variables.$font-family-sans-serif;
    color: variables.$font-color;
    margin: 0;
}

.wrapper {
    padding: 0;
}

.tiny-control{
    background-color: variables.$background-color;
}

.carousel-item{
    transition: none;
}
