/coverage.out
/tmp.txt
/test/index.tinytune
/example.http
/web/assets/main.css
/web/assets/main.css.map
/web/assets/bootstrap
/web/scss/bootstrap
/web/assets/htmx.min.js
/web/assets/js.cookie.min.js
/web/assets/popper.min.js
/web/assets/lightbox
/web/assets/videojs