{{ define "icon"}}<svg class="rounded-2" width="30px" height="30px" version="1.1" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<linearGradient id="a" x1="159.46" x2="50.536" y1="233.87" y2="66.133" gradientUnits="userSpaceOnUse">
<stop stop-color="#007c2f" offset="0"/>
<stop stop-color="#0dd354" offset="1"/>
</linearGradient>
</defs>
<g transform="translate(-5,-50)">
<rect x="5" y="50" width="200" height="200" fill="url(#a)" stroke-width="105.16" style="paint-order:stroke fill markers"/>
<g transform="scale(.26458)" stroke-width="1.0016" style="white-space:pre" aria-label="TT">
<path d="m427.61 431.15h-101.63v276.4h-68.359v-276.4h-100.26v-55.371h270.25z" opacity=".69558"/>
<path d="m637.39 510.12h-72.591v197.43h-48.828v-197.43h-71.615v-39.551h193.03z" opacity=".69558"/>
</g>
</g>
</svg>
{{end}}