{{define "video-item"}}<a href="/origin/{{ .ID }}" class="image-lightbox"  hx-boost="false" data-extension="{{ ext .Name }}" data-width="{{ width  .Resolution}}" data-height="{{ height .Resolution}}"><figure class="figure dir-list-item">
            {{ if eq .Preview.Length 0 }}
            {{ template "icon-video" .}}
            {{ else }}
            <div class="wrap" style="--origin-width: {{ width .Resolution }};--origin-height: {{ height .Resolution }};">
                <div class="spacer"></div>
                <img
                    id="video-{{ .ID }}"
                    loading="lazy"
                    alt="{{ .Name }}"
                    src="/preview/{{ .ID }}" 
                    class="figure-img img-fluid rounded preview" 
                    hx-preserve
                >
                <span class="duration rounded" id="duration-{{ .ID }}">{{ dur .Duration }}</span>
            </div>
            {{ end }}
            <figcaption class="figure-caption">{{ .Name }}</figcaption>
        </figure></a>{{end}}