{{define "image-item"}}<a href="/origin/{{ .ID }}/" data-loading="lazy" class="image-lightbox" hx-boost="false" type="image"><figure class="figure dir-list-item">
            {{ if eq .Resolution.Width 0 }}
            {{ template "icon-image" .}}
            {{ else }}
            <div class="wrap">
                <div class="spacer"></div>
                <img src="/preview/{{ .ID }}/" loading="lazy" id="img-{{.ID}}" class="figure-img img-fluid rounded" alt="{{ .Name }}" {{ if .IsAnimatedImage }}data-animated="/origin/{{ .ID }}/"{{ end }} hx-preserve>
            </div>
            {{ end }}
            <figcaption class="figure-caption">{{ .Name }}</figcaption>
        </figure></a>{{end}}